<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.32">
    <actions>
        <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@1.3.8"/>
        <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.3.8">
            <jobProperties/>
            <triggers/>
            <parameters/>
            <options/>
        </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
    </actions>
    <description></description>
    <keepDependencies>false</keepDependencies>
    <properties/>
    <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.69">
        <script>pipeline{
    agent any
    stages{
        stage(&quot;Pull&quot;){
            steps{
                git branch: &apos;projet_terra&apos;, url: &apos;https://github.com/HenryL39/Terraform_TPS.git&apos;
            }
        }
        stage(&quot;Container&quot;){
            steps{
                echo &quot;Using spotify plugin&quot;
            }
        }
        stage(&quot;Deploy&quot;){
            steps{
                sh &quot;mvn deploy -s settings.xml -Dmaven.test.failure.ignore=true&quot;
            }
        }
        stage(&quot;Release&quot;){
            steps{
                sh &quot;mvn clean -DskipTests -Darguments=-DskipTests --settings settings.xml release:clean release:prepare release:perform&quot;
            }
        }
    }
}</script>
        <sandbox>true</sandbox>
    </definition>
    <triggers/>
    <disabled>false</disabled>
</flow-definition>